Contact me at <a href="mailto:ashi.niwatori@the-quickest.com">ashi.niwatori@the-quickest.com</a>

<footer>
    <%= link_to  image_tag('fusshuhn_gross.jpg', alt:'http://www.fusshuhn.de/', id:'fhpic'), 'http://www.fusshuhn.de/'
    %>
</footer>
