<h1>Upload Dictionary</h1>
<p>The content will be merged into dictionary <%= @dict.dictname %></p>

<!-- The 'id' parameter is not used yet. It is intended to contain
     the purpose of the uploaded file ("type of upload").
-->
<%= form_tag({action: 'upload_file', dict_id: @dict.id, id: 'x'},multipart: true) do %>
<!-- It's nearly impossible to style the button in a file-input
     element without having some drawbacks. This is discussed here:
     http://www.quirksmode.org/dom/inputfile.html
-->
  <%= file_field_tag :upload, {accept: 'text/plain', class: 'file_upload'} %>
  <br />
  <%= submit_tag "Upload&Merge", {class: 'kanren_button'} %>
<% end %>
