<h1>Create a new idiom-set</h1>

<%= render :partial => '/shared/card_form', :locals => {:button_value => "CREATE" } %>


<% errcheck=[@card] %>
<% errcheck+=@idioms unless @idioms.nil? %>
<% identify=['IDIOM']+Rkanren::KIND_PP %>
<% errcheck.each_with_index do |ec,i| %>
  <% if ec.errors.any? %>
  <div id="error_explanation">
    <h3>
      <%= identify[i] %>:&nbsp;
      Not saved because of <%= pluralize(ec.errors.count, "error") %>
    </h3>
    <ul>
      <% ec.errors.full_messages.each do |msg| %>
      <li>
        <%= msg %>
      </li>
      <% end %>
    </ul>
  </div>
  <% end %>
<% end %>
