/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require scaffolds
 *= require rkanren
 *= require_tree .
 *= require_self
*/

/*   */

body {
  background-color: #4616e0;
  color: #93bbc9;
  font-size: 116%;
  quotes: "«" "»" "‹" "›";
}

footer {
  margin-top: 32px;
  padding-top: 8px;
}

.centered {
  text-align:center;
}
.larger_font {
  font-size: 110%;
}
.kanren_note {
  background-color: #af3e38;
}
.msg {
  background-image:url("gras0.jpg");
  background-repeat:repeat-x;
  min-height:40px;
  color:#b51b03;
}

.debug_dump {
  float: left;
  margin-top: 16px;
  border-width: 6px;
  color:#b71e17;
  border-style: groove;
  border-color: #c04c94;
  background-color: #5e9d82;
  box-sizing: border-box;
}

.notice {
  background-color: #40842f !important;
  quotes: none;
}

#disclaimer {
  font-size: 30%;
  background-color: #700686;
}
