/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

a:hover {
  color:#eefb5c;
  background-color:#da8a29;
}

footer {
  margin-top: 32px;
  padding-top: 8px;
}

.centered {
  text-align:center;
}

.user_name_entry {
  color:#2e16e0;
}

.dict_name_entry {
  color:#f004bd;
  background-color:#322462;
  font-family:"Lucida Console", Monaco, monospace;
}

.language_field {
  color:#58cd17;
  background-color:#322462;
  font-family:"Lucida Console", Monaco, monospace;
}
