$entry_back: #322462;
$hr_color:#8b5cd3;
$idiom_fg:#cfc2aa;
$japanese_font:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
$japanese_mono:"Osaka Monospaced";
$button_font_size:15px;

/*
 #5f3ae2 #855536 #d9a8f2
*/

$klogofontsize:150%;

.kanrenlogo {
  color:#78e664;
  background-color:#365c24;
  text-shadow: 2px 2px #5de040;
  font-size:$klogofontsize;
  font-weight:lighter;
  padding: 0 4px 2px 1px;
}

$pag_hor_pad: 4px;
.pagination {
  font-size: 16px;
  color: #b9f0b6;
  border: 6px groove #540ab9;
  padding-bottom: 2px;
  padding-left: $pag_hor_pad;
  padding-right: $pag_hor_pad;
  width:auto;
  display: inline-flex;
  margin-top: 6px;
  margin-bottom: 2px;
  .disabled {
    visibility: hidden;
  }
  .current {
    padding-left: $pag_hor_pad;
    padding-right: $pag_hor_pad;
  }
  a {
    padding-left: $pag_hor_pad;
    padding-right: $pag_hor_pad;
  }
  .previous_page, .next_page {
    font-size: 32px;
    text-decoration: none;
    &:hover, &:active {
      font-weight: bold;
      color: #286ce5;
      background-color: transparent;
    }
  }
}

.page_prompt {
  border-style: solid dotted solid dotted;
  box-shadow: 8px 8px 6px #e5f5ef;
  padding:5px 2px 3px 8px;
  margin: 10px 10px 30px 4px;
  line-height: 2*$klogofontsize;
  background-color: #9a1729;
}

/* Todo: Simplify this with sass script */
.rkanim {
  -webkit-animation: rot 64s infinite;
  -moz-animation: rot 15s 3;
  animation: rot 15s 8;
}
@-webkit-keyframes rot {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(-720deg);}
}
@-moz-keyframes rot {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(-180deg);}
}
@keyframes rot {
  from {transform: rotate(0deg);}
  to {transform: rotate(-180deg);}
}


/* After an idea by Tomas Theunissen */
hr.kanren_hr {
  height:26px; border-style: solid;
  border-color:$hr_color;
  border-width: 4px 0 0 0; border-radius: 20px;

  &:before {
    /* Note: Attributes not inherited from parent (probably
             because a 'before' element)
    */
    display: block; content: ""; height: 30px;
    margin-top: -34px;
    border-style: solid;
    border-color: $hr_color;
    border-width: 0 0 4px 0; border-radius: 20px;
  }
}

a {
  &:link {
    color:#1c8607;
  }
  &:visited {
    color:#2e9c09;
  }
  &:hover {
    color:#eefb5c;
    background-color:#da8a29;
  }
  &:active {
    color:#340fb2;
  }
}

.user_name_entry {
  color:#2e16e0;
  background-color:#e8c75e;
}

.dict_name_entry {
  color:#f004bd;
  background-color:$entry_back;
  font-family:"Lucida Console", Monaco, monospace;
}

.idiom_entry {
  color:$idiom_fg;
  background-color: $entry_back;
  width:98%;
  font-size:3em;
  overflow:auto;
}

.language_field {
  color:#58cd17;
  background-color:$entry_back;
  font-family:"Lucida Console", Monaco, monospace;
}

.optional_entry {
  background-color: #7a2c77;
  font-family:$japanese_mono;
  border-color: #8b5cd3;
  border-width: 3px;
  color: $idiom_fg;
  width: 98%;
}

.show_rep {
  font-family:$japanese_font;
  font-size:2em;
  color:#af0c6f;
  overflow:auto;
}

$pseubu_horpad: 3em;
$pseubu_verpad: 4px;
$pseubu_color_outer:#f9ac3c;
$pseubu_color_inner:#dd7754;
$pseubu_color_bbase:#30ddf5;
$pseudo_color_border_focus:#893218;
.pseudo_button {
  color: #0ba89d;
  font-weight: bolder;
  background-color: $pseubu_color_bbase;
  background:linear-gradient(75deg,$pseubu_color_bbase,$pseubu_color_bbase+104,$pseubu_color_bbase);
  font-family:$japanese_font;
  border-style: solid;
  border-width: 2px;
  border-color: #afdbb8;
  min-width:16em;
  padding: $pseubu_verpad $pseubu_horpad $pseubu_verpad $pseubu_horpad;
  font-size:$button_font_size;
  &:hover {
    color:#530dae;
    border-color: $pseudo_color_border_focus;
    background-color:$pseubu_color_outer;
    background:linear-gradient(90deg,$pseubu_color_bbase,$pseubu_color_outer, $pseubu_color_inner,$pseubu_color_inner,$pseubu_color_outer,$pseubu_color_bbase);
  }
  &:active {
    border-color: $pseudo_color_border_focus;
    color: #88701e;
    border-width:4px;
    background:radial-gradient($pseubu_color_inner,$pseubu_color_outer,$pseubu_color_bbase);
  }
}

$button_color_outer: #4f37bc;
$button_color_inner: red;
.kanren_button {
  color: #d7daff;
  background-color: $button_color_outer;
  background:linear-gradient(to right,$button_color_outer,$button_color_inner,$button_color_outer);
  min-width:16%;
  text-align:center;
  padding: 0 12px 0 12px;
  border-color:#8d221b;
  font-family:$japanese_font;
  font-size:$button_font_size;
  &:hover {
    background-color: $button_color_inner;
    background:linear-gradient(to right,$button_color_inner,$button_color_outer, $button_color_inner);
  }
  &:active {
    color:#00bcbc;
    background:radial-gradient($button_color_outer,$button_color_inner,($button_color_inner - 24));
  }
}

@mixin kanren-button-to($float) {
  float: $float;
  min-width:20%;
  margin-right: 10px;
  .kanren_button {
    min-width:90%;
  }
}
.kanren_button_to {
  @include kanren-button-to(left)
}
.kanren_button_to_right {
  @include kanren-button-to(right)
}
/*
.kanren_button_to {
  float: left;
  min-width:20%;
  margin-right: 10px;
  .kanren_button {
    min-width:90%;
  }
}
*/

.RORlogo {
  vertical-align: bottom;
}

.clear {
  clear: both;
  line-height: 0;
}

.alert-error {
  color: red;
  background-color:  #144213;
  font-size: 75%;
}

.alert-success {
  color: #2dbc13;
  padding: 1px 0 2px 1px;
  font-size: 75%;
  font-weight: lighter;
  font-style: oblique;
  span {
    display: inline-flex;
    border-style: ridge;
    border-width: 2px;
    border-color: #ae6733;
    padding-right: 3px;
  }
}

.alert-notice {
  color: #e472c9;
}

.explain {
  font-size:65%;
  background-color: #d63a92;
  resize: both;
  box-sizing: border-box;
  float: right;
  width: 33%;
  margin: 0 0 0 14px;
  padding: 1px 0 0 2px;
  outline: 3px solid #e1b711;
  outline-offset: 6px;
  border: 2px solid #ee7378;
  a {
    text-decoration: none;
    color: inherit;
    &:hover {
      color: #35d4e6;
      background:linear-gradient(to right,#7a4ec7,#e22af2,#371e19);
    }
  }
}

/* For debugging: Display current idiom score */
.idiom_score {
  background-color: #31efe7;
  color: #442f3a;
  margin: 16px;
  padding: 2px;
  font-size: 14px;
  text-shadow: 7px 7px 8px #7bf7e6;
  display: inline-block;
}
